body{background:rgba(132, 112, 112, 0.54);text-align: justify;font-family:cursive;}
div{width:60%;
margin: auto;background: #fff;padding: 50px;box-shadow: 0 0 90px rgba(114, 82, 82);}
img{max-width: 100%;}
H3{text-align:center;} 
p{line-height:1.2;font-size: 15px;}     